
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(62, 220, 0);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.flex-container {
    display: flex;
  }
  .container {
    display: flex; /* or inline-flex */
  }
  .flex-container {
    flex-direction: row-reverse;
  }
  .flex-container {
    justify-content: space-around;
  }
  a{
    text-decoration: none;
    cursor: pointer;
  }

  .AGUARDANDO{
    background-color: rgba(229, 255, 0, 0.993);
  }

  .CONFIRMADO{
    background-color: rgba(255, 0, 0, 1);
  }

  .link_bloqueado{
    pointer-events: none;
  }